*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
} 
header {
    background: #6000dd;
    padding: 10px;
    color: #ecf0f1;
}
.conteiner img{
    max-width: 600px;
}

header .conteiner {
    display: flex; 
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between; 

}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    direction: none;
    
}

header nav li a { 
    color: #ecf0f1;
    text-decoration: none;
}

section .conteiner {
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 30px auto;
}

section .conteiner h2{
    padding:  15px 0 ;
    border-bottom: 2px #4f02b3 solid;
    color: #4f02b3;
}

section .conteiner div{
    margin: 10px 20px;
}

section .conteiner p{
    margin-top: 20px;
}
.produto img{
    height: 330px;
    width: 245.75px ;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

.produtos{
    max-width: 1024px;
    width: 100%;
    margin: 30px auto;

}
#produto{
    position: relative;
    height: 500px;

}

.produto{
    display:grid;
    grid-template-columns: repeat(4, 24%) ;
    column-gap:2% ;
}

section  h2{
    padding:  15px 0 ;
    border-bottom: 2px #4f02b3 solid;
    color: #4f02b3;
    margin-bottom: 35px;
}

.produto img{
    max-width: 100%;
}

#produto button{
    margin-top: 10px;
    padding: 8px;
    color: white;
    background: #30006e;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;

}

.produtos button:hover {
    background-color: #0734af ;
}

#produto h3,
p {
    margin-top: 10px;
}

@media screen and (max-width:767px ) {
    header .conteiner {
        display: block; 
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between; 
    }
    
    .conteiner img{
        max-width: 90%;

    }

    section .conteiner {
        display: block;
        max-width: 90%;
        width: 100%;
        margin: 30px auto;
    }

    .produtos{
        max-width: 90%;
        width: 100%;
        margin: 30px auto;
    }

    #produto button{
        margin-top: 10px;
        margin-bottom: 35px;
        padding: 4px;
        color: white;
        background: #30006e;
        border-radius: 20px;
        cursor: pointer;
    }

    .produto{
        display:block;
        
    }

}
    @media screen and (min-width:768px) and (max-width:1024px) {
        header .conteiner {
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between; 
    }

    section .conteiner {
        display: block;
        max-width: 90%;
        width: 100%;
        margin: 30px auto;
    }

    .produtos{
        max-width: 90%;
    }

    .produto{
        display:grid;
        grid-template-columns: repeat(2, 48%) ;
        column-gap:2% ;
    }

    #produto button{
        margin-bottom: 15px;
    }

}
